:root {
  font-family: system-ui, sans-serif;
  background-color: #ffffff;
  color: #000000;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: inherit;
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}
