.floating-keywords-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 40px;
  min-height: 30vh;
  cursor: pointer;

}

.floating-keyword {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: floatUpDown 2s ease-in-out infinite alternate;
  cursor: pointer;

}

.floating-keyword:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
}

@keyframes floatUpDown {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-20px);
  }
}
